page-login ion-content{
    background-image:url(../../assets/imgs/loginBackground.png) ;
    background-size: cover;
    background-position: center;
    color: #fff !important;

}
// linear-gradient(#31B2F7 , #50E0DF) !important;
.center
{
    text-align: center !important;
}
2

 .no-scroll {
     .scroll-content{
    overflow-y: hidden !important;
     }
}

page-login form button{
    color: #000 !important;
    background-color: #fff !important;
    margin-left:  auto !important;
    margin-right: auto !important;
    margin-top:  30px !important;
}
page-login form ion-item
{
    background-color: transparent !important;
}

page-login form ion-item
{
    background-color: transparent !important;
}

page-login form ion-label
{
    color: #fff !important;
}

page-login form{
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 30% !important;
}

page-login{
    ::placeholder{
        color: #fff !important;
    }

}
