page-infoChannel ion-content{
    background: #eee !important;

}
.info-card{
    // max-height: 60px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
    border-radius: 0px !important;
}

.info-align{
    align-items: center;
}




