page-campus ion-content {
    background-image:url(../../assets/imgs/loginBackground.png) ;
    background-size: cover;
    background-position: center;

}

.headBtn{
    height: 110px !important;
    
}

.listBtn{
    border-radius: 5px;
    height: 8px !important;
}
page-campus{
    ion-icon{
        color: #000 !important;
    }
}