page-issue ion-content{
    background-image:url(../../assets/imgs/loginBackground.png) ;
    background-size: cover;
    background-position: center;


}
// linear-gradient(#31B2F7 , #50E0DF) !important;
.center
{
    text-align: center !important;
}


 .no-scroll {
     .scroll-content{
    overflow-y: hidden !important;
     }
}

page-issue form button{
    color: #000 !important;
    background-color: #fff !important;
    margin-left:  auto !important;
    margin-right: auto !important;
    margin-top:  30px !important;
}

page-issue form ion-item
{
    background-color: transparent !important;
}

page-issue form ion-item
{
    background-color: transparent !important;
}

page-issue{

    form ion-label
{
    color: #000 !important;
}

}


page-issue form{
    width: 85% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    //margin-top: 30px !important;
}
page-issue{
    ::placeholder{
        color: #000 !important ;
    }

}


page-issue ion-select {
    button{
        display: none !important;
    }
    
}


page-issue on-textarea{
    // background: #6F9EBE;
    border-radius: 10px;
}


.my-item{
    background: #C4EEF8 !important;
                margin: 10px !important;
                 border-radius: 10px;
}


.header-text{

    text-align:justify; 
    color:#000;
    margin-left: 30px !important;
    margin-right: 30px !important;
    
}
