page-issue ion-content{
    background-image:url(../../assets/imgs/loginBackground.png) ;
    background-size: cover;
    background-position: center;

    form button{
        color: #000 !important;
        background-color: #fff !important;
        margin-left:  auto !important;
        margin-right: auto !important;
        margin-top:  30px !important;
    }

    form ion-item{
        background-color: transparent !important;
    }

    form ion-label{
        color: #000 !important;
    }

    form{
        width: 85% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        //margin-top: 30px !important;
    }

    ::placeholder{
        color: #000 !important ;
    }
    ion-select {
        button{
            display: none !important;
        }
        
    }

    on-textarea{
        // background: #6F9EBE;
        border-radius: 10px;
    }
}
// linear-gradient(#31B2F7 , #50E0DF) !important;
.center
{
    text-align: center !important;
}









.my-item{
    background: #C4EEF8 !important;
                margin: 10px !important;
                 border-radius: 10px;
}


.header-text{

    text-align:justify; 
    color:#fff;
    margin-left: 30px !important;
    margin-right: 30px !important;
    
}

