page-polls ion-content{
    background-image:url(../../assets/imgs/polls-bg.png) ;
    background-size: cover;
    background-position: center;


}

.my-segmentbtn{
 height: 140px !important;
}

.poll-card{
    max-height: 60px;
    border-radius: 4px !important;
}

.question{
font-weight: 900;

}

