page-home ion-content{
    background: url(../../assets/imgs/background.png) !important;
    background-position: center  !important;
    background-size: cover  !important;
    color:#fff !important;


.mg-left{
  margin-left:25px;
  margin-right:-25px;
}

.mg-right{
  margin-left:-25px;
  margin-right:25px;
}

    .tile{
      .button-md{
      // height: 140px !important;
      // width: 140px !important;
      // background: pink !important
      height: none !important;
      }
      // text-align: left;

     
    }

    #account-tile {

      // float: right !important;
      // margin-top: 100px !important ;
      position: fixed;
      bottom:0px;
      right: 0px;
     height:100px;

    }
    .welcome-row{
      font-size: 9px;

     p{
       margin-left: 20%;
       margin-right: 20%;
     }
    }
}

.tile {
  img{height: 140%;
  width: 120%;}
}


.tile{
  button{
  height: 100px ;
  // width: 140px !important;
  // background: pink !important

  }
  // text-align: left;

 
}