page-info ion-content {
    background: #EEE !important;
}

.info-card-header{
    font-weight: 900;
    text-transform: capitalize; 
}

ion-card{
    display: flex;
    flex-direction: column;
    width: 95% !important;
    // height: 135px !important;
    border-radius: 8px !important;
    background-color: white !important;   
    box-shadow: none !important;
  }

  