page-info ion-content {
    background: #EEE !important;
}

.info-card-header{
    font-weight: bold !important;
    font-size: 1.2rem !important;
    text-transform: capitalize; 
}

.my-card{
    display: flex;
    flex-direction: column;
    width: 95% !important;
    // height: 135px !important;
    border-radius: 8px !important;
    background-color: white !important;   
    box-shadow: none !important;
  }


  page-info{
  ion-note{
    font-size: 8px !important;
  }

  ion-slide{
    .button-md{
      color: #EEE ;
      border-radius: 5px ;
      border: 1.5px solid white ;
      text-transform: none ;
      width: 90px;
      overflow: visible;
      span{
        font-weight: normal;
        font-size: 1em;
      }
     
 
    }
  }

  #channel-card{
    margin:0px; 
    width: 100%;
    height: 80px;
     background:#31B2F7;
  }
}