// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'helvetica';
    font-style:normal;
    font-weight: 100;
    src: url('../assets/fonts/Helvetica-Light-05.ttf');
  }

  @font-face {
    font-family: 'helvetica';
    font-style: normal;
    font-weight: bold;
    src: url('../assets/fonts/Helvetica-Bold-02.ttf');
  }
  
  .tabbar{
    background-color: #0B1C33!important;
}

.tab-button{
  ion-icon{
    -webkit-text-fill-color: #6F9EBE;
  }
  span.tab-button-text{
    color:#6F9EBE ;
    font-size: 0.9rem;
  }
}

.tab-button[aria-selected=true]{
  ion-icon{
    -webkit-text-fill-color: white;
  }
  span.tab-button-text{
    color: white ;
  }
}


.header-image{
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 50% !important;

}

