page-news ion-content{
    background-color: #EEE !important;
ion-slide{
 
  ion-card{
    border-radius: none;
    width:100% !important;

    .button-md{
      margin-top: 0px !important;
      margin-bottom: 0px !important; 
      border-radius: 0px !important;
      
      span{
        font-weight: normal;
        text-transform: none;
      }
    }
  }


}
}

.post-card{
    // display: flex;
    // flex-direction: column;
    width: 95% !important;
    // height: 135px !important;
    border-radius: 6px;
    // background-color: white !important;   
    // box-shadow: none !important;
  }

  .wrap-text {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}




page-home{
  ion-icon{
    padding: 3px ;
  }
  ion-card-content{
    font-size: 10px !important;
    padding-left: 0px !important
  }
  ion-card-header{
    font-size: 10px !important
  }
 ion-note{
   font-size: 8px !important;
 }
}

.img-container{
  max-width: 100% !important;
  border-radius: 3px !important; 
  }
  
.like{
  color: red !important;
}