page-talk ion-content {
    background-image:url(../../assets/imgs/polls-bg.png) ;
    background-size: cover;
    background-position: center;
    color: #fff !important;
}

page-talk{
    .scroll-content{
        padding: 60px !important;
        margin-top: 15% !important ;
    }
}