<ion-header>
  <!-- <ion-navbar transparent>
    <img src="../../assets/imgs/header.png" class="header-image">
  </ion-navbar> -->
</ion-header>

<ion-content padding>
<ion-grid no-padding><ion-row no-padding>
  <ion-col>
     <span style="float: left !important"  id="phoneStatus">Connecting...</span>
    <!-- <span style="float: right !important" > help</span> -->
  </ion-col> 
 
</ion-row></ion-grid>  
 <ion-fab top right>
    <button ion-fab color="light" (click)="addContacts()">  <ion-icon name="add" style="font-size: 30px"></ion-icon></button>
  </ion-fab>
<img src="../../assets/imgs/UnitalkArt.png" id="talk-img">
<div id="call-text">
    <p><span id="text">Welcome To</span><br><span id="callName" >UniTalk</span></p>
</div>

<ion-grid>
  <ion-row>
    <ion-col  style="text-align: right !important"><button id="answer" ion-button clear  class="call-btn hide" ><img src="../../assets/imgs/acceptBtn.png" alt=""></button></ion-col> 
    <ion-col><button id="terminate" ion-button clear  class="call-btn hide" ><img src="../../assets/imgs/terminateBtn.png" alt=""></button></ion-col> 
  </ion-row>
</ion-grid>
<!-- <ion-card class="contact-card"> -->
    <ion-searchbar placeholder="search?" [formControl]="searchControl" (ionChange)="onSearchInput()"></ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
      </div>
    <ion-scroll scrollY="true" style="height: 30%">
        <button  (click)="call(contact)" class="contact-btn" *ngFor="let contact of contacts" ion-item  color="light" detail-none> 
          {{contact.name}}
      </button> 

      <!-- <ion-note color=light style="text-align: center" class="hide" id="404"> No results</ion-note> -->

  

    </ion-scroll>

    <audio autoplay id="remoteAudio"></audio>
    <audio src="../../assets/sounds/incoming.mp3" id="incoming" loop></audio>
    <audio src="../../assets/sounds/outgoing.mp3" id="outgoing" loop></audio>

  
</ion-content>
