page-locations ion-content{
    background: #fff !important;

    span{
        font-weight: bold;
    }
}
page-locations ion-header{
    .toolbar-background{
      
        background: transparent;
    }
.back-button{
    color: #6F9EBE;
}

}




.content-row{
    margin: 10px !important;
}

.header-col{
    font-weight: bold;
    text-align: right;
}

.locate-btn{
    height: 60px !important;
    padding: 0px;
    width: 60px;
    float: right;
}

.location-header{
    font-weight:bold; 
    font-size: 20px;
    text-align: center;
}