page-account ion-content {
    background: #EEE !important;
}

.usrCard{

    background:linear-gradient(to right,#31B2F7 , #50E0DF) !important;

}
 
ion-avatar,
ion-avatar > img{
    border-radius:50%;
    height:100px;
    width:100px;
}

.my-btn{
    width: 50px !important;
    height:  15px !important;
}
.color{
    color: #EEE !important;
}

page-account ion-icon{
    color: #31B2F7 !important;
}

.account-list-button{
    border-radius: 5px !important; 
    margin-left: auto !important;
    margin-right: auto !important;
    width:  98% !important;
    margin-bottom: 10px !important;
     height: 9vh;
   
}

