page-signup ion-content{
    background-image:url(../../assets/imgs/loginBackground.png) ;
    background-size: cover;
    background-position: center;
    color: #fff !important;

}
.center
{
    text-align: center !important;
}

 .no-scroll {
     .scroll-content{
    overflow-y: hidden !important;
     }
}

page-signup form button{
    color: #000 !important;
    background-color: #fff !important;
    margin-left:  auto !important;
    margin-right: auto !important;
    margin-top:  30px !important;
   
}
page-signup form ion-item
{
    background-color: transparent !important;
}


page-signup form ion-label
{
    color: #fff !important;
}

page-signup form{
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 30% !important;
}

page-signup{

    ::placeholder{
        color: #fff  !important ;
    }
}
